<div class="row">
  <div class="span4">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<fieldset>
    <legend>Edit <%= resource_name.to_s.humanize %></legend>

    <div><%= f.input :email, :autofocus => true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><i>(leave blank if you don't want to change it)</i><%= f.input :password, :autocomplete => "off" %> </div>

    <div><%= f.input :password_confirmation %></div>

    <div><i>(we need your current password to confirm your changes)</i><%= f.input :current_password %> </div>

    <div><%= f.button :submit, "Update" %></div>
  </fieldset>
<% end %>

<fieldset>
  <legend>Cancel my account</legend>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

  <%= link_to "Back", :back %>
</fieldset>

</div>
  <div class ="span8">
    <h2>Editing accounts is easy and secure</h2>
  </div>
</div>