<div class="row">
  <div class="span4">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>

<fieldset>
    <legend>Create an account</legend>
    <%= devise_error_messages! %>
    <div> <%= f.input :first_name, :autofocus => true %></div>

    <div> <%= f.input :last_name %></div>

    <div> <%= f.input :profile_name %></div>

    <div><%= f.input :email %></div>

    <div><%= f.input :password %></div>

    <div><%= f.input :password_confirmation %></div>

    <div><%= f.button :submit, "Create Account" %></div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
</div>
  <div class ="span8">
    <h2>Creating new accounts is easy and secure</h2>
  </div>
</div>